<ul id="urls">
  <% @urls.each do |url| %>
    <li><%= link_to visit_shortcut_url(url.shortcut), visit_shortcut_url(url.shortcut) %> -&gt; <%= url.target %></li>
  <% end %>
</ul>

<%= form_for @url do |f| %>
  <%= f.label :target %>
  <%= f.text_field :target %>
  <%= f.submit "Shorten url" %>
<% end %>
